/* Header Actions */
.header__actions > * {
  padding: 0 10px;
}

.cart__icon {
  position: relative;
}
.cart__icon_count {
  position: absolute;
  top: -7px;
  left: 0;
  width: 17px;
  height: 17px;
  padding: 5px;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
}

@media only screen and (max-width: 768px) {
  .header__actions {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 90%;
    padding: 13px 10px;
    display: flex;
    justify-content: space-between;
    background: var(--color-white);
    border: var(--border-sm);
    box-shadow: var( --box-shadow-sm);
    border-radius: var(--border-radius-md);
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: var(--z-index-1);
  }
}
