.products__item {
  height: 250px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products__item > * {
  flex: 1;
}
.products__item_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.products__item_img > img {
  object-fit: contain;
  display: block;
}
.products__item_name{
  max-height: 45px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xxl);
  color: var(--color-black);
}
.products__item_price{
  max-height: 18px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  color: var(--color-black);
}
.products__item_colors{
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.products__item_color{
  width: 12px;
  height: 12px;
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-lg);
  -webkit-border-radius: var(--border-radius-lg);
  -moz-border-radius: var(--border-radius-lg);
  -ms-border-radius: var(--border-radius-lg);
  -o-border-radius: var(--border-radius-lg);
}