:root {
  --color-text: #747474;
  --color-text-muted: #c4c4c4;
  --color-text-blue: #041c57; 
  --color-black: #191b1d;
  --color-black-light: #191b1d79;
  --color-blue: #0957de;
  --color-green: #76bb90;
  --color-orange: #ff6601;
  --color-yellow: #eeaa3e;
  --color-pink: #d76771;
  --color-white: #f7f7f7;
  --color-body: #F5F6F6; 
  
  /* Font Size */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 21px;
  --font-size-xxl: 26px;

  /* Font Weight */
  --font-weight-sm: 100;
  --font-weight-md: 300;
  --font-weight-lg: 400;
  --font-weight-xl: 500;
  --font-weight-xxl: 700;
  --font-weight-xxxl: 900;

  /* Box Shadow */
  --box-shadow-sm: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --box-shadow-md: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  --box-shadow-lg: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  /* Border */
  --border-sm: 1px solid #e9e9e9;
  --border-md: 2px solid #e9e9e9;

  /* Border Radius */
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 10px;

  /* Z-index */
  --z-index--1: -1;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}
