.product {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product__content {
  display: flex;
  gap: 60px;
}

@media only screen and (max-width: 992px) {
  .product__content{
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .product__content{
    flex-direction: column;
  }
}