.sidebar {
  padding: 0 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__item,
.sidebar__item_active {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  color: var(--color-black);
  background: var(--color-white);
  border: var(--border-sm);
  border-radius: var(--border-radius-sm);
  -webkit-border-radius: var(--border-radius-sm);
  -moz-border-radius: var(--border-radius-sm);
  -ms-border-radius: var(--border-radius-sm);
  -o-border-radius: var(--border-radius-sm);
}
.sidebar__item_active {
  background: var(--color-yellow);
  color: var(--color-white);
}
.sidebar__item_active svg > path {
  stroke: var(--color-white);
}

.sidebar__toggle{
  display: none;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    min-width: 260px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
  .sidebar.show {
    height: auto;
    max-height: 165px;
    overflow: auto;
  }
  .sidebar__toggle{
    display: block;
  }
}
